<%- include('partials/header2')%>
<body>
    <section>
       <h2 class="grad">carrito de compras</h2>
       <br>
         
<% if (cart.length > 0) { %>
    <ul>
        <% cart.forEach(item => { %>
            <li>
                Id: <%=item.productId%> Producto: <%= item.nombre %>, Precio: <%= item.precio %>, Cantidad: <%=item.quantity %>
                <form action="/cart/update/<%= item.productId %>" method="POST" >
                    <input type="number" name="quantity" value="<%= item.quantity %>">
                    <button type="submit">Actualizar</button>
                </form>
                <form action="/cart/remove/<%= item.productId %>" method="POST">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
           
        <% }); %>
    </ul>
    <p>
        <form action="/checkout" method="POST" enctype="multipart/form-data">
            <button type="submit" >Confirmar orden</button>
        </form>
      </p>
<% } else { %>
    <p>Tu carrito está vacío.</p>
<% } %>
</section>
        
</body>

<%- include('partials/footer')%>
