<%- include('partials/header2')%>

<body>
<section>
    <h2 class="grad">DET PROYs</h2>
    <br>
    <h1><%=tituloDePagina%></h1>

        <div class="container__cards" id="card">
            <div class="cover">
                <img src="/img/<%= producto.img%>" alt="<%= producto.nombre %>" id="detalleCard" >
                
                </div>
                <div class="descripcion">
                    <h2><%= producto.nombre%>
                        </h2>
                    <h3>Precio: $<%= producto.precio%>
                        </h3>
                    <p>
                        Descripcion: <%=producto.descripcion %>
                        </p>
                    <p>
                        Estado: <h2><%= tipo.tipo %></h2>
                    </p>
                    
                    </div>


            </div>

</section>
</body>

<%- include('partials/footer')%>