<!--DOCTYPE html>
<html lang="en"-->

<%- include('partials/header2')%>

<head>
    <meta charset="UTF-8">
    <title>Mi Carrito</title>
</head>
<body>
    <h1>Mi Carrito</h1>
    <table>
        <thead>
            <tr>
                <th>Producto ID</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <% if (registros.length > 0) { %>
                <% registros.forEach(item => { %>
                    <tr>
                        <td><%= item.product_id %></td>
                        <td><%= item.quantity %></td>
                        <td><%= item.price %></td>
                        <td><%= item.added_at %></td>
                    </tr>
                    
                <% }) %>
                <p>Total: $<%= totalGeneral.toFixed(2)  %></p>
            <% } else { %>
                <tr>
                    <td colspan="4">El carrito está vacío.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
<!--/html-->
