<%- include('partials/header')%>


<body>
<h2 class="grad">MODIFICAR PROYECTO</h2>
<br>
<h1><%=tituloDePagina%></h1>
<form action="/modificar?_metodo=PUT" method="POST" enctype="multipart/form-data"> <!--enctype para subir imagenes-->
    <p>Nombre:<input type="text" name="nombre" value="<%=registro.nombre%>"/></p>
    <p>Descripcion:<input type="text" name="descripcion" value="<%=registro.descripcion%>"></p>
    <p>Precio:<input type="number" name="precio" value="<%=registro.precio%>"/></p>
    <p>Imagen:<input type="file" name="img"></p>
    <!--p>Imagen:<input type="text" name="img" value="< %=registro.img%>"></p-->  <!--antes era un input text, ahora es file para subir imagenes-->
    <p><img src="<%= registro.img %>" alt="Imagen de <%=registro.nombre%>" width="200"></p> <!--CABMIADO POR CLOUDINARY, antes era src="/img/< %= registro.img %>" -->   <!--podria inyectar la imagen en el js dinamico en listado.js(con ${ }-->

    <input type="hidden" name="idMod" value="<%=registro.id%>">
    
    <input type="submit" value="Actualizar" id="submit_button">
    <!--p>Reemplazar imagen:<input type="file" id="img" name="img"></p-->

    <!-- se crea este hidden, porque no esta llegando la imagen actual al input
				     si no elige ninguna foto y ya tenia, queda vacio el campo en la base -->
    <!--input type="hidden" name="imagenActual" value=">%= registro.img %>"-->
  </form><br>
<script>src="./../js/helper.js"</script>
<script>
  const idRol = localStorage.getItem('idRol');
  let submit_button = document.getElementById("submit_button");
  
  if (idRol == 2) {
      submit_button.remove();}
</script>
</body>
<!--link rel="stylesheet" href="/css/style.css" type="text/css"/-->
<!--saqué el campo par modificar el id_tipo ya que no me deja creo al ser una FOREINGH-->
<!--p>Tipo:<input type="number" name="tipo" value="registro.id_tipo"></p-->

<%- include('partials/footer')%>