<%- include('partials/header2')%>
  
  <!-- Div CARD de DESARROLLOS FIJA-->
  
     <body>
     <section>
        <h2 class="grad">DESARROLLOS DIGITALES cards</h2>
        <br>
        <h1><%=tituloDePagina%></h1>
        <!--p>%productos%></p-->


            <div class="container__cards" id="card">        
     <% productos.forEach(producto => { %>
        <div>
          <div class="cover">
            <h2><%= producto.nombre %></h2>
            <p>id: <%= producto.id%></p>
             <p>Descripcion: <%= producto.descripcion %></p>
             <p>Precio: $<%= producto.precio %></p>
          <!--   <p>< %= producto.img % ></p>  ESTO MOSTRABA LA URL ANTES DE CLOUDINARY--> 
             <div class=""><img src="<%= producto.img %>" 
              alt="<%=producto.nombre %>" 
              width=""></div> <!--img src="/img/ < %=producto.nombre %>" width=""-->
             <p>id_tipo: <%= producto.id_tipo %></p>
             <p>Stock: <%= producto.Stock %></p>
             <a href="/detalleProducto/<%=producto.id%>">Leer Más</a>
            
             <p>
               <form action="/cart/add/<%=producto.id%>" method="POST" enctype="multipart/form-data">
               <!--label for="quantity">cantidad: </label>
               <input type="number" min="1" max="< %= producto.Stock %>"  id="quantity" name="quantity" value="1" required-->
               <button type="submit">Agregar al Carrito</button>
               </form>
              </p>
          </div>
        </div>
     <%
      })
     %>
      </div>
    </section>
        
     </body>
     
<%- include('partials/footer')%>